* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/ant-rozetsky-q-DJ9XhKkhA-unsplash.jpg");
    background-size: cover;
    font-family: 'Black Ops One', cursive;
    display: flex;
    align-items: center;
    height: 100vh;
}

p,
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "title title"
        "player1 player2";
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.title {
    grid-area: title;
    font-size: 60px;
    padding: 20px;
}


.player2 {
    grid-area: player2;
}

.player1Container,
.player2Container,
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
    background-color: rgba(220, 220, 220, 0.537);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.player1Container {
    grid-area: player1;
    display: grid;
    grid-template-areas:
        ". message"
        "shipBank player1board";
    justify-items: center;
}


.playerMessage {
    grid-area: message;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}

.introMessage {
    font-size: 20px;
    font-weight: normal;
}

.gameboard1,
.gameboard2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 390px;
    background-color: rgb(0, 37, 102);
}

.gameboard1 {
    grid-area: player1board;
}

.zone {
    background-color: rgb(0, 37, 102);
    width: 39px;
    height: 39px;
    border: .5px solid rgb(220, 220, 220);
}

.gameboard2>.zone:hover {
    background-color: red;
    cursor: crosshair;
}

.ship {
    background-color: black;
    border: none;
}

.shipFront {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-color: rgb(0, 37, 102);
}

.shipBack {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-color: rgb(0, 37, 102);
}

.hit {
    background-color: red;
    background-image: url('/images/close_FILL0_wght400_GRAD0_opsz48.svg');
    background-position: center;
}

.miss {
    background-color: rgb(146, 146, 146);
    ;
}

.shipBank {
    grid-area: shipBank;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    border-radius: 5px;
    gap: 10px;
}

.draggableShip {
    display: flex;
    flex-direction: row;
    cursor: move;
    overflow: hidden;
}

.draggableShip>div {
    width: 39px;
    height: 39px;
    background-color: black;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.dragging {
    opacity: 1;
}

.rotateShip {
    font-family: inherit;

}

.hidden {
    display: none;
}