* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/ant-rozetsky-q-DJ9XhKkhA-unsplash.jpg");
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas: 
    "shipBank gameboard1 gameboard2";
    height: 100vh;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.gameboard1 {
    grid-area: gameboard1;
}

.gameboard2 {
    grid-area: gameboard2;
}

.gameboard1, .gameboard2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.zone {
    background-color: rgb(10, 43, 100);
    width: 39px;
    height: 39px;
    border: 1px solid rgb(142, 167, 207);
}

.zone:hover {
    background-color: red;
    cursor: crosshair;
}

.ship {
    background-color: black;
}

.hit {
    background-color: red;
    background-image: url('/images/close_FILL0_wght400_GRAD0_opsz48.svg');
    background-position: center;
}

.miss {
    background-color: green;
}

.shipBank {
    grid-area: shipBank;
    display: flex;
    flex-direction: column;
}

.draggableShip {
    display: flex;
    flex-direction: row;
    cursor: move;
}

.draggableShip > div {
    width: 39px;
    height: 39px;
    background-color: black;
}

.verticalShip {
    flex-direction: column;
}

.dragging {
    opacity: .5;
}

.hidden {
    display: none;
}